/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */




 /** Slideshow  **/
#flexslider_views_slideshow_main_homepage_slideshow-block .flex-nav-container
{
	background: url(../img/letter-a.png) #842719  no-repeat; 
}

#flexslider_views_slideshow_main_homepage_slideshow-block .flex-caption
{
	width:30%;
	bottom:auto;
	top:0;
	background: transparent;


	box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */

}
#flexslider_views_slideshow_main_homepage_slideshow-block .views-field-field-photo
{
	width:70%;
	float:right;
	
}