/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

/** Page settings  **/

body
{
	background: none;
}

/**Header   ***/


#zone-branding-wrapper
{
	background: #842719;
}

#zone-branding-wrapper .wrap-inner
{
	background: url(../img/bg.jpg) center 0 no-repeat;
	min-height: 319px;
}
.site-name-slogan
{
	margin:0 auto;
	width: 340px;
	height:239px;
	float:none;
}
.site-name a
{
	background-image: url(../logo.png);
	width: 340px;
	height:239px;
	display:block;
}



/** Main Nav  **/

.block-mobile-menu-toggle
{
	display:none;
}

.navigation
{
	width:100%;
	background: url(../img/bg.jpg) center -319px no-repeat;
	position: static;
	z-index: 1;
	top:auto;
	right:auto;
	height: 41px;
	border: solid 1px #fff;
	margin-top: -42px;
	-moz-box-shadow: inset 0px 4px 6px #bdbfbe;
	-webkit-box-shadow: inset 0px 4px 6px #bdbfbe;
	box-shadow: inset 0px 4px 6px #bdbfbe;
}
#main-menu
{
	margin-bottom: 0;
	display: table;
	width:100%;
}
#main-menu li
{
	display:table-cell;
	text-align: center;
	padding:0 10px;
	margin: 0;

}
#main-menu a
{
	display:inline;
	border-bottom: 0;
	text-align: center;
	line-height: 41px;
	text-decoration: none;
	font-size: 18px;
	text-shadow: 0 0 5px #fff;
	padding:3px 0;
}
#main-menu .active a
{
	border-bottom:5px solid #888;
}

#section-content
{
	background: url(../img/bg.jpg) center -360px no-repeat;
	min-height: 200px;
	padding-top:40px;
}

/** Preface **/

#zone-preface
{
	padding-bottom: 15px;
}

/** Social Media  **/

#block-block-2
{
	float: right;
	position: static;
	padding-top: 20px
}



/*desktop specific subscribe form */

#block-webform-client-block-15
{
	position: static;
}
#block-webform-client-block-15 .form-email
{
	width:150px;
}
#block-webform-client-block-15 .form-submit
{
	width: 36px;
}

/** Slideshow  **/
#flexslider_views_slideshow_main_homepage_slideshow-block
{
	display:block;
}


/**mobile specific sidenav css */
.block-menu-menu-secondary-nav .menu li
{
	margin-right:0;
	width:100%;
	float:none;
}


/** Footer  **/

#block-menu-block-1
{
	float: left;
}

/*copyright*/
#block-block-1
{
	float: right;
}

/****** Specific site features  ***/

/* Course List */



.course-list .views-row
{
	position: relative;
}
.course-list .views-field-field-course-image
{
	position: absolute;
	top:3px;
	left:0;
}

.course-list .views-field-body,
.course-list .views-field-title,
.course-list .views-field-view-node
{
	padding-left:230px;
}

.register-link
{
	background-color: #842719;
	display:block;
	padding:9px;
	margin: 0 0 9px 0;
			box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */

	position: absolute;
	top: 96px;
    width: 214px;
	left:0;
}

.register-link a
{
	color: #fff;
	font-size: 15px;
	line-height: 31px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	border: solid 1px #8E3C2F;
	text-align: center;
	background-color: #6B2015;
	-webkit-box-shadow: inset 0px 0px 20px 0px #5D1C12;
    box-shadow: inset 0px 0px 20px 0px #5D1C12;
}


/** Course Description Layout  **************/

.field-name-field-course-image
{

}


/** Course Product Display Layout  **************/



.field-name-field-course-start-date,
.field-name-commerce-price
{
	width:30%;
	margin-right: 3%;
	float: left;
}
.field-name-field-product-reference
{
	clear:left;
	padding-top: 2em;
}


/**** Checkout Form   **/
#edit-commerce-fieldgroup-pane-group-reg-info
{

}
#edit-account {
  float: right;
  width: 50%;
  margin-left: 3em;
}


/*** Page Testimonials   ***/

.view-id-testimonials.view-display-id-page .views-row
{
	float:left;
	width:40%;
}

.view-id-testimonials.view-display-id-page .views-row-odd
{
	margin-right: 10%;
	clear: left;
}