/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/** Page settings  **/

body
{
	background: url(../img/mobile_bg.jpg) center top no-repeat;
}

h1, h2, h3, h4, h5, h6, .field-label, .fieldset-legend {
  font-family: arial,sans-serif;
  color:#842719;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: bold;
}
h1, h2, h3
{font-size: 16px}

h2, h3, h4, h5, h6
{
	margin-bottom: 10px;
}

a:link, a:visited {
  color:#842719;
  text-decoration: none;
}
a:hover {
	color: #A52D22;
  text-decoration: underline;
}

/**Header   ***/

#zone-branding-wrapper
{
	
}

#zone-branding-wrapper .wrap-inner
{

}
.site-name
{
	margin-top:0;
}

.site-name a
{
	background-image: url(../img/mobile_logo.png);
	text-indent: -9999px;
	width: 160px;
	height:142px;
	display: block;
}



/** Main Nav  **/

.block-mobile-menu-toggle
{
	position: absolute;
	top:60px;
	right:0px;
	display:block;
	background-color:#fff;
	line-height: 33px;
	width:110px;
	text-align: center;
	z-index: 3;
}
.block-mobile-menu-toggle ul{
	list-style-type: none;
	margin-bottom: 0;
}
.block-mobile-menu-toggle a
{
	text-decoration: none;
	text-transform: uppercase;
	background: url(../img/down-arrow.png) right center no-repeat;
	padding-right: 15px;
	font-size: 18px;
	color: #842719;
}
#region-menu
{
	position:static;
}
.navigation
{
	width:110px;
	background-color:#fff;
	position: absolute;
	z-index: 2;
	top:93px;
	right:10px;
	-moz-box-shadow: 0px 2px 6px #666;
-webkit-box-shadow: 0px 2px 6px #666;
box-shadow: 0px 2px 6px #666;
}
#main-menu li
{
	display:block;
	padding:0 10px;
	margin: 0;
}
#main-menu a
{
	display:block;
	border-bottom: solid 1px #b2b2b3;
	text-align: center;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	color: #727374;
}
#main-menu .last a
{
	border: 0;
}
#main-menu a:hover, 
#main-menu a.active
{
	color: #842719;
}

/** section content  **/

#section-content
{
	padding-top:20px;
}

/** Preface **/

#zone-preface
{
}
#region-preface-first
{
	position: static;
}

/** Social media  **/

#block-block-2
{
	position: absolute;
	top:117px;
	left:57px;
}
.social-media
{

	list-style-type: none;
	margin-bottom: 0;
}
.social-media li
{
	display:inline-block;
}
.social-media a
{
	width:20px;
	height:20px;
	display: block;
	text-indent: -999em;
}
.youtube
{
	background: url(../img/youtube.png);
}
.facebook
{
	background: url(../img/facebook.png);
}
.twitter
{
	background: url(../img/twitter.png);
}



/** Subscribe form  **/

#block-webform-client-block-15
{
	float:left;
	white-space: nowrap;
}
#block-webform-client-block-15 .block-title
{
	display: none;
}

#block-webform-client-block-15 label
{
	margin-right: 0;
	font-size: 10px;
}

#block-webform-client-block-15 #webform-component-e-mail
{
	float: left;
	margin:0 5px 0 0;
	padding-top:20px;
	position: relative;
}
#block-webform-client-block-15 #webform-component-e-mail .description
{
	position: absolute;
	top:0;
	color: #000;
}
#block-webform-client-block-15 .form-actions
{
	margin:0;
	padding-top:20px;
	float:left;
}

#block-webform-client-block-15 .form-submit
{
	background: url(../img/submit-arrow.png) center center #7E3024;
	width: 23px;
	height:23px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-indent: -999em;
	border:0;
	margin-right: 0;
}

/*mobile specific subscribe form */

#block-webform-client-block-15
{
	position: absolute;
	top:102px;
	right:10px;
}
#block-webform-client-block-15 .form-email
{
	width:105px;
}

/*** slideshow  **/

.flexslider {
  background: transparent;
  border: 0;
  border-radius: 0;
  
}

.flex-control-nav
{
	width:auto;
	right:0;
}

.flex-control-nav li a 
{
	background-image: url(../img/bg_control_nav.png);
}

#flexslider_views_slideshow_main_homepage_slideshow-block
{
	display:none;
}


/*** Secondary Nav  **/

.block-menu-menu-secondary-nav
{
	margin-bottom: 2em;
}

.block-menu-menu-secondary-nav .block-title
{
	display: none;
}
.block-menu-menu-secondary-nav .menu li
{
	background-color: #842719;
	display:block;
	padding:9px;
	margin: 0 0 9px 0;
			box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}
.block-menu-menu-secondary-nav .menu a{
	color: #fff;
	font-size: 15px;
	line-height: 41px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	border: solid 1px #8E3C2F;
	text-align: center;
	background-color: #6B2015;
	-webkit-box-shadow: inset 0px 0px 20px 0px #5D1C12;
    box-shadow: inset 0px 0px 20px 0px #5D1C12;
}

.block-menu-menu-secondary-nav .menu a:hover
{
	background-color: #842719;
}

/**mobile specific sidenav css */
.block-menu-menu-secondary-nav .menu li
{
	width:48%;
	float: left;
	margin-right:4%;
}
.block-menu-menu-secondary-nav .menu li:nth-child(2n+2)
{
	margin-right: 0;
}

/** Footer  **/
#section-footer
{
	padding:80px 0 30px 0;
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

}
#region-footer-second
{
	font-size: 12px;
}

#block-menu-block-1 li
{
	display:inline;
	padding-right:0;
}
#block-menu-block-1 a
{
	padding-right:.8em;
	text-decoration: none;
	color:#000;
}
#block-menu-block-1 a.active,
#block-menu-block-1 a:hover
{
	color: #842719;
}
#block-menu-block-1 li:after
{
	content:"::";
}
#block-menu-block-1 li.last:after
{
	content:"";
}



/****** Specific site features  ***/

/* Course List */

.page-electrical-courses #page-title
{
	display: none;
}

.course-list .views-row
{
	margin-bottom: 2em;
}
.course-list .views-field-field-course-image
{
	margin-bottom: 1em;
}

.course-list .views-field-field-course-image img,
.field-name-field-course-image img
{
	border: solid 1px #333;
}
.course-list h2
{
	margin-bottom: 0;
}
/* Course anchor nav */

.course-anchor-menu
{
	margin-bottom: 2em;
}
.course-anchor-menu ul li
{
	display: inline;
	margin: 0;
}
.course-anchor-menu li a
{
	padding:0 .25em;
	text-transform: uppercase;
}
.course-anchor-menu li:before
{
	content:"|";
}
.course-anchor-menu li:first-child a
{
	padding-left:0;
}
.course-anchor-menu li:first-child:before
{
	content:"";
}

/* upcoming courses */

.upcoming-courses
{
	font-size: 14px;
}

/* upcoming courses view (list of courses) */

.view-upcoming-courses .item-list ul
{
	padding-left: 0;
}

.view-upcoming-courses .item-list ul li
{
	margin-left:0;
}
.view-upcoming-courses .item-list ul li:before
{
	content:"";
	display:inline-block;
	height:12px;
	width:12px;
	background: url(../img/submit-arrow.png) center center #7E3024;
	
}

/** Course Description Layout  **************/





/** Course Product Display Layout  **************/


.node-type-product-display .field-name-upcoming-courses-block-view
{
	display: none;
}
.field-name-field-product-reference .field-label
{
	display: none;
}
.field-name-field-course-offered-prod
{
	clear: left;
	margin-top: 2em;
}




/******  Checkout page   *****/

#commerce-checkout-form-checkout .form-text
{
	max-width: 150px;
}

.checkout-continue
{
	margin-right: 1em;
}


/*** Testimonials View ***/

/*block*/
#block-views-testimonials-block h2
{
	font-size: 110%;
	text-transform: none;
}

.view-id-testimonials.view-display-id-page .views-row
{
	margin-bottom: 2em;
}

.testimonial-name
{
	color: #842719;
	text-transform: uppercase;
}

/** form */
#block-formblock-testimonial .block-title
{
	display: none;
}
.block-formblock-testimonial
{
	max-width: 400px;
	margin: 0 auto;
}

.block-formblock-testimonial .filter-wrapper,
.block-formblock-testimonial .vertical-tabs
{
	display:none;
}



.block-formblock-testimonial #edit-actions
{
	float: left;
	clear: both;
	padding:7px;
	background-color: #842719;

}

.block-formblock-testimonial #edit-submit{
	color: #fff;
	font-size: 15px;
	line-height: 41px;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	border: solid 1px #8E3C2F;
	text-align: center;
	background: #6B2015;
	-webkit-box-shadow: inset 0px 0px 20px 0px #5D1C12;
    box-shadow: inset 0px 0px 20px 0px #5D1C12;
    text-shadow:none;
    border-radius: 0;
    margin: 0;
}

.block-formblock-testimonial #edit-field-first-name,
.block-formblock-testimonial #edit-field-last-name,
.block-formblock-testimonial #edit-field-e-mail-testimonial,
.block-formblock-testimonial #edit-field-phone-number-testimonial
{
	float:left;
	width:45%;
}
.block-formblock-testimonial #edit-field-first-name,
.block-formblock-testimonial #edit-field-e-mail-testimonial
{
	margin-right: 10%;
}
.block-formblock-testimonial input
{
	width: 100%;
}



/*****  Site Owner Nav (admin)  **/

#block-menu-menu-site-owner-menu
{
	margin-bottom: 4em;
}